/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  @include m-links;
  background:$doe-blue;
  color: $dark;
  margin: 0;
  padding: 0;
}
body.cke_editable,
body.section-media,
body.maintenance-page {
  background: #fff;
}

html, body, button, input, select, textarea {
  @include bearfont-main;
}
h1, h2, h3, h4, h5 {
  color:$doe-navy;
  font-family: $header-font;
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  color:$doe-navy;
  font-size: 190%;
}
h2 {
  font-size: 1.75em;
  line-height: 1.25em;
  margin-top:1.5em;
  margin-bottom: .5em
}
#page {
  min-width: 300px;
}
p {
  margin:.5em 0 1em 0;
}
big {
  color:$doe-orange;
  font-weight: bold;
}
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

.region-header {
  clear: none;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: right;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.wrapper.header {
  background:#fff;
  border-top: 10px solid $doe-blue;
  #header {
    padding: 15px 0;
    position: relative;
  }
}

.wrapper.main {
  background:#fff;
  @include background-image(linear-gradient(lighten($doe-blue,30%), #fff 30%));
  border-top:2px solid #fff;
  border-bottom:2px solid $doe-orange;
}

@include breakpoint ($breakpoint-medium-width) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
    #logo {
      float: none;
      clear: both;
      display: block;
      padding: 20px 0;
    }
    #name-and-slogan {
      float: none;
      h1 {
        margin: 10px 0;
      }
    }
  }
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

.breadcrumb {
  margin: 0 0 20px 0;
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0 0 .25em 0;
}

/*
 * TABLES AND LISTS.
 */
th {
  font-size: .9em;
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid $doe-blue;
  font-weight: bold;
  padding:5px 10px;
}
tbody {
  border-top: 2px solid #fff;
}
td {
  padding: 5px 10px;
}
td.active {
  background-color: darken($doe-light, 6%);
}
tr.even { 
  background-color: #fff;
}
tr.odd {
  background-color: $doe-light;
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

article li {
  margin-top:.5em;
  margin-bottom: .5em;
}
blockquote {
  color: $doe-blue;
  font-family: $quote;
  font-size: 1.3em;
  font-style: italic;
  margin:30px;
}
cite {
  color: lighten($doe-blue, 10%);
  display: block;
  font-family: $fineprint;
  margin: -30px 30px 30px;
  text-align: right;
}

/*
 * Hero
 */
.wrapper.hero {
  background-color:$doe-navy;
  background-image:url(../images/hero.jpg);
  background-position:50% 40%;
  background-size:cover !important;
  overflow:hidden;
  clear:both;
  color: #fff;
  #hero {
    min-height: 250px;
    position:relative;
  }
}

/*
 * Sidebars
 */
aside.sidebars {
  margin: 30px 0 0 0;
  .sidebar {
    padding-bottom: 20px;
    h2 {
      background: $grey;
      text-indent: 10px;
      margin: 0 0 10px 0;
      font-size: 110%;
      }
    @include breakpoint ($breakpoint-large-width) {
      padding-left: auto;
    }
  }
}

/*
 * Footer
 */
.wrapper.footer {
  background-color: $doe-blue;
  border-top:2px solid #fff;
  padding:15px 0;
  #footer {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size:12px;
    h2.block-title {
      display: none;
    }
    ul.menu {
      margin:0;
    }
    a {
      color:#fff;
    }
    @include breakpoint ($desktop) {
      $zen-column-count:  4;
      #block-block-3 {
        @include zen-grid-item(2,1);
      }
      #block-menu-menu-footer-menu-1 {
        @include zen-grid-item(1,3);
      }
      #block-menu-menu-footer-menu-2 {
        @include zen-grid-item(1,4);
      }
    }
  }
}
ul.social-footer {
  @include reset-ul;
  li {
    list-style-type: none;
    float: left;
    margin: 0 5px 0 0;
    a {
     display: block;
     outline: none;
     text-decoration: none;
     i {
      -o-transition:.5s;
       -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      color: $dark;
      font-size: 30px;
        span {
          display: none;
        }
        &:hover {
         color: $doe-blue;
        }
      }
    }
  }
}
@include breakpoint ($breakpoint-medium-width) {
  #footer {
    text-align: center;
  }
  ul.social-footer {
    margin-top: -10px;
    li {
     display: inline-block;
     float: none;
    }
  }
}

div.messages {
  @include border-radius(5px);
}
div.status {
  background-color: $success;
  border-color: darken($success, 10%);
  color: #ddfddd;
  a {
    color:#fff;
  }
}
table,
.system-status-report {
  tr {
    border-bottom: 1px solid #fff;
  }
  tr.ok {
    background-color: lighten($success, 25%);
  }
  tr.info {
    background-color: $doe-light;
  }
  tr.warning {
    background-color: #ffadad;
    color: darken($warning,10%);
  }
}

.page-user {
  h1.title,
  .redirect-list {
    display:none;
  }
}

.print_html {
  a {
    display: inline-block;
    padding: 2px 6px 2px 25px;
    position:relative;
  }
  a:before {
    content:'\f02f';
    font-family: $fa-font;
    position: absolute;
    top:2px;
    left:5px;
  }
  a:hover {
    @include border-radius(6px);
    background:lighten($doe-blue,30%);
    color:$doe-navy;
    text-decoration: none;
  }
}