/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*
 * Body
 */
body {
  background: #6698cd;
  color: #343434;
  margin: 0;
  padding: 0;
}
body a {
  color: #6698cd;
  text-decoration: none;
}
body a:hover {
  color: #f89838;
  text-decoration: underline;
}
body a:visited {
  color: #3972ae;
}

body.cke_editable,
body.section-media,
body.maintenance-page {
  background: #fff;
}

html, body, button, input, select, textarea {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  color: #1c5593;
  font-family: "PT Sans Narrow", "league_gothic", "Arial Narrow", Arial, sanserif;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: #1c5593;
  font-size: 190%;
}

h2 {
  font-size: 1.75em;
  line-height: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

#page {
  min-width: 300px;
}

p {
  margin: .5em 0 1em 0;
}

big {
  color: #f89838;
  font-weight: bold;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
.region-header {
  clear: none;
}

#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: right;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.wrapper.header {
  background: #fff;
  border-top: 10px solid #6698cd;
}
.wrapper.header #header {
  padding: 15px 0;
  position: relative;
}

.wrapper.main {
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZTZmMyIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(#d9e6f3, #ffffff 30%);
  background-image: -webkit-linear-gradient(#d9e6f3, #ffffff 30%);
  background-image: linear-gradient(#d9e6f3, #ffffff 30%);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #f89838;
}

@media (max-width: 800px) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
  }
  .wrapper.header #header #logo {
    float: none;
    clear: both;
    display: block;
    padding: 20px 0;
  }
  .wrapper.header #header #name-and-slogan {
    float: none;
  }
  .wrapper.header #header #name-and-slogan h1 {
    margin: 10px 0;
  }
}
/*
 * Main (container for everything else)
 */
/*
 * Content
 */
.breadcrumb {
  margin: 0 0 20px 0;
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0 0 .25em 0;
}

/*
 * TABLES AND LISTS.
 */
th {
  font-size: .9em;
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #6698cd;
  font-weight: bold;
  padding: 5px 10px;
}

tbody {
  border-top: 2px solid #fff;
}

td {
  padding: 5px 10px;
}

td.active {
  background-color: #d5e3f1;
}

tr.even {
  background-color: #fff;
}

tr.odd {
  background-color: #edf3f9;
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

article li {
  margin-top: .5em;
  margin-bottom: .5em;
}

blockquote {
  color: #6698cd;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3em;
  font-style: italic;
  margin: 30px;
}

cite {
  color: #8cb2da;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: -30px 30px 30px;
  text-align: right;
}

/*
 * Hero
 */
.wrapper.hero {
  background-color: #1c5593;
  background-image: url(../images/hero.jpg);
  background-position: 50% 40%;
  background-size: cover !important;
  overflow: hidden;
  clear: both;
  color: #fff;
}
.wrapper.hero #hero {
  min-height: 250px;
  position: relative;
}

/*
 * Sidebars
 */
aside.sidebars {
  margin: 30px 0 0 0;
}
aside.sidebars .sidebar {
  padding-bottom: 20px;
}
aside.sidebars .sidebar h2 {
  background: #eff2f1;
  text-indent: 10px;
  margin: 0 0 10px 0;
  font-size: 110%;
}
@media (max-width: 1000px) {
  aside.sidebars .sidebar {
    padding-left: auto;
  }
}

/*
 * Footer
 */
.wrapper.footer {
  background-color: #6698cd;
  border-top: 2px solid #fff;
  padding: 15px 0;
}
.wrapper.footer #footer {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 12px;
}
.wrapper.footer #footer h2.block-title {
  display: none;
}
.wrapper.footer #footer ul.menu {
  margin: 0;
}
.wrapper.footer #footer a {
  color: #fff;
}
@media (min-width: 801px) {
  .wrapper.footer #footer #block-block-3 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .wrapper.footer #footer #block-menu-menu-footer-menu-1 {
    float: left;
    width: 25%;
    margin-left: 50%;
    margin-right: -75%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .wrapper.footer #footer #block-menu-menu-footer-menu-2 {
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

ul.social-footer {
  padding: 0;
  margin: 0;
}
ul.social-footer li {
  list-style-type: none;
  float: left;
  margin: 0 5px 0 0;
}
ul.social-footer li a {
  display: block;
  outline: none;
  text-decoration: none;
}
ul.social-footer li a i {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  color: #343434;
  font-size: 30px;
}
ul.social-footer li a i span {
  display: none;
}
ul.social-footer li a i:hover {
  color: #6698cd;
}

@media (max-width: 800px) {
  #footer {
    text-align: center;
  }

  ul.social-footer {
    margin-top: -10px;
  }
  ul.social-footer li {
    display: inline-block;
    float: none;
  }
}
div.messages {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.status {
  background-color: #77b277;
  border-color: #599d59;
  color: #ddfddd;
}
div.status a {
  color: #fff;
}

table tr,
.system-status-report tr {
  border-bottom: 1px solid #fff;
}
table tr.ok,
.system-status-report tr.ok {
  background-color: #c8e0c8;
}
table tr.info,
.system-status-report tr.info {
  background-color: #edf3f9;
}
table tr.warning,
.system-status-report tr.warning {
  background-color: #ffadad;
  color: #990000;
}

.page-user h1.title,
.page-user .redirect-list {
  display: none;
}

.print_html a {
  display: inline-block;
  padding: 2px 6px 2px 25px;
  position: relative;
}
.print_html a:before {
  content: '\f02f';
  font-family: "FontAwesome";
  position: absolute;
  top: 2px;
  left: 5px;
}
.print_html a:hover {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #d9e6f3;
  color: #1c5593;
  text-decoration: none;
}
