#block-views-front-slideshow-block {
  max-width: 620px;
  margin:0;
}
.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0 !important;
  border-radius:0;
  margin: 0 0 40px 0 !important;
  position: relative;
}
div.slideshow {
  max-width: 620px;
  max-height: 292px;
  position: relative;
}
div.slideshow.field-name-field-image {
	z-index: 1;
}
div.slideshow .slide-text {
  background: rgba(0, 0, 0, .5);
  color: #fff;
  padding:10px 15px;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  z-index: 5;
}
div.slideshow .slide-text h2 {
  color:#fff;
  margin:0;
  text-shadow: 1px 1px 1px #000;
}